<h2>Lien pour réinitialiser votre mot de pase</h2>
<p><a href="{{ app.request.getSchemeAndHttpHost() }}/register?key={{ user.token }}">
        {{ app.request.getSchemeAndHttpHost() }}/register?key={{ user.token }}
    </a></p>