<!-- Footer -->
<footer class="py-5" id="footerbloc">
    <div class="container">

        <div class="row">
            <div class="col-md-3 mr-auto">
                <img src="http://placehold.it/50x50" class="img-responsive">

            </div>
            <div class="col-md-3 ml-md-6">


                <button class=" btn btn-default btn-block"><a href="http://eepurl.com/c-BnzT">Newsletter</a></button>
            </div>
        </div>


        <div class="row informations">
            <div class="col-sm-3">
                <p class="m-0 pull-left">2017 &copy; Nos Amis les Oiseaux</p>
            </div>
            <div class="col-sm-6">
                <ul>

                    <li>
                        <a href="{{ path('mentions_legales') }}">Mentions légales</a>
                    </li>
                    <li>
                        <a href="">Qui sommes-nous?</a>
                    </li>
                    <li>
                        <a href="{{path('contact_page')}}"><i class="fa fa-envelope"></i> Contact</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <div class="social-feed pull-right">
                    <a href="https://www.facebook.com/"><i class="fa fa-facebook-square"></i></a>
                    <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</footer>
