<!-- Footer -->
<footer class="py-5" id="footerbloc">
    <div class="container">

        <div class="row">
            <div class="col-md-3 mr-auto">
                <img src="http://placehold.it/50x50" class="img-responsive">

            </div>
            <div class="col-md-3 ml-md-6">
                <h5 class="pull-right">Suivez-nous :    <br> Newsletter</h5>

                <form action="">


                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="adresse e-email">
                        <div class="input-group-btn">
                            <button class="btn btn-block">envoyer</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


        <div class="row informations">
            <div class="col-sm-3">
                <p class="m-0 pull-left">2017 &copy; Nos Amis les Oiseaux</p>
            </div>
            <div class="col-sm-6">
                <ul>
                    <li>
                        <a href="">Condition générales</a>
                    </li>
                    <li>
                        <a href="">Mentions légales</a>
                    </li>
                    <li>
                        <a href="">autre</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-envelope"></i> CONTACT</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <div class="social-feed pull-right">
                    <a href="https://www.facebook.com/"><i class="fa fa-facebook-square"></i></a>
                    <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</footer>
