<footer class="footer">
    <div class="container">
        <div class="content">
            <div class="row">
                <div class="col-md-7">
                    <h5>Association NAO (Nos Amis les Oiseaux), </h5>
                    <p>Les passionnés d’ornithologie</p>
                </div>

                <div class="col-md-3">
                   <a href="">Nous contactez</a>
                   <a href="">Mention légale</a>
                </div>

                <div class="col-md-2">
                    <h5>Suivez Nao sur :</h5>
                    <div class="social-feed">
                        <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.facebook.com/"><i class="fa fa-facebook-square"></i></a>
                        <a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>