<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>

                <li>
                    <a href="">
                        Conditions générales </a>
                </li>
                <li>
                    <a href="">
                        Mentions légales
                    </a>
                </li>
                <li>
                    <a href="">
                        Contact </a>
                </li>
            </ul>
        </nav>
        <p class="copyright pull-right">
            Nos Amis les Oiseaux, &copy; 2017- Tous droits réservés
        </p>
    </div>
</footer>