<div class="sidebar" data-color="grey" data-image="">

    <div class="sidebar-wrapper">
        <div class="logo">
            <center>
                <a href="">
                    <img src="http://placehold.it/60x60" alt="NAO" height="40" data-html="true">
                </a>
            </center>
        </div>

        <ul class="nav">

            <li  class="active" >
            <a href="">
                <p>Tableau de bord</p>
            </a>
            </li>
            <li  >
            <a href="">
                <p>Inscription en attente</p>
            </a>
            </li>
            <li  >
            <a href="">
                <p>Obervation en attente</p>
            </a>
            </li>
            <li >
            <a href="">
                <p>Obeservation validé</p>
            </a>
            </li>
        </ul>
    </div>
</div>
