/*
 custom css
*/
body{
    font-family: Adorn Slab Sérif;
}
.mt-4, .my-4 {
    margin-top: 0 !important;
    height: 570px;
}
.container {
    max-width: 100%;
}
.logo-box {
    text-align: center;
    /* margin: 0 40px;
    position: absolute;
    left: 5em;*/
}
.header-left {
    background-image: linear-gradient( -82deg, rgba(0, 0, 0, 0) 16%, rgba(00, 0, 0, 0) 10%, #B8735C 0%, #B8735C 100%);
    position: absolute;
    z-index: 9;
    height: 570px;
    min-width: 555px
}
.img-thumbnail.logo{
    background-color: transparent;
    border: 0;
    width: 40%;
    margin: 10px 0 0 26px;
}
.loupe {
    margin: 8em 0;
    text-align: center;
    position: absolute;
    left: -3.5em;
}
.loupe img{
    width: 20%;
}
.loupe a {
    color: #fff;
    text-decoration: none;
}
.loupe p {
    font-size: 20px;
    margin-top: -15px;
    margin-left: -34px;
}
.bg-oiseau {
    background-image: url(../image/ImageAccueil.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 0;
    min-width: 486px;
    max-width: 72.3%;
    margin: 0 auto;
    position: absolute;
    right: 0px;
    height: 570px;
}
.navbar-nav a {
    color: #fff
}

.container.qui-som-nous {
    width: 74.5%;
    margin: 0 auto;
}
.commentcamarche .col-sm-4 {
    max-width: 25%;
    margin: 0 auto;
}
.ccm-first-bloc {
    left: 6.7em;
}
.ccm-last-bloc {
    left: -5.7em;
}
#gallerieobservation .col-sm-4 {
    max-width: 33.333333%;
    margin: 0 auto;
}
.ccm-home {
    background: transparent;
    width: 70%;
    border: 0;
}
.box-001, .box-001 p{
    text-align: center;
}
.box-001 h2, .box-001 h4{
    text-transform: uppercase;
}
.box-001 h2, .partenaires .box-001 h2 {
    font-family: Roboto Slab;
}
.bloc-two-home {
    background-image: -moz-linear-gradient(right, #E1C8AA 0%, #B0D092 100%);
    background-image: -webkit-gradient(linear, right top, left top, color-stop(0, #E1C8AA), color-stop(100, #B0D092));
    background-image: -o-linear-gradient(right, #E1C8AA 0%, #B0D092 100%);
    background-image: -webkit-linear-gradient(right, #E1C8AA 0%, #B0D092 100%);
    background-image: linear-gradient(to left, #E1C8AA 0%, #B0D092 100%);
    padding: 20px 29px 20px 0;
}

.box-title-observation{
    margin-bottom: 30px;
}
.container.observations{
    max-width: 72%;
}
.observations .card-block {
    padding: 20px;
}
.observations .card-title {
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 700;
}
.observations .card-block p {
    margin-top: 0;
    margin-bottom: 0;
}
.observations .btn-primary {
    color: #fff;
    background-color: #98C575;
    border-color:#98C575;
    position: absolute;
    top: 15px;
    right: 20px;
    padding: 8px 45px;
}
.observations .img-thumbnail.img-card{
    padding: 0;
    border:0;
    border-radius: 0;
}
.observations .card {
    border: 1px solid #CF8A5D;
}

section.partenaires {
    background: #CF8A5D;
    padding: 20px;
}

.partenaires .slick-slide img {
    width: 40%;
    height: 100px;
}
#fjoet .slider {
    width: 65%;
}
.partenaires .box-001 h2{
    color:#fff;

}

/* Footer  */
#footerbloc{
    background: #98C575;
    margin-top: 40px;
    /*margin-left: -15px;
    margin-right: -15px;*/
}
#id-container-login-page #footerbloc{
    margin-left: -15px;
    margin-right: -15px;
}
#footerbloc .logo {
    width:25%;
    float:left;
    margin: 0 0 0 2.3em;
}
.box-logo-footer {
    margin-top: -25px;
}
#footerbloc .social-feed img {
    border: 0;
    max-width: 6%;
    background-color: transparent;
}
.txt-ns-suivre{
    text-align: right;
    max-width: 45.99%;
}
.txt-ns-suivre h3{
    color:#fff;
    text-transform: uppercase;
    font-size: 16px;
}
.txt-ns-suivre a{
    color:#B8735C;
}

.box-logo-footer ul{
    margin: 30px 0;
}
#footerbloc .informations {
    margin-left: 2.3em;
}
.box-logo-footer ul li{
    position: relative;
    left: 25px;
    list-style: none;
}
.box-logo-footer ul li a{
    color:#fff;
}
.informations p{
    color: #fff;
}
.col-lg-4.logo-rectangle {
    max-width: 30%;
    float: left;
    /*position: absolute;
    left: 0;*/
}
.logo-rectangle {
    width: 70%;
    margin-left: 10px;
}
.navbar-brand > img {
    padding-left: 0;
}
.other-page .navbar {
    padding: .5rem 0;
}
#navbar-other-page {
    width: 100%;
    margin: 0 auto;
    display: block;
}

.navbar.navbar-other-page {
    width: 100%;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(150,136,150,1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(150,136,150,1);
    box-shadow: 0px 2px 5px 0px rgba(150,136,150,1);
}
.navbar-other-page .navbar-collapse{
    margin-top: 10px;
}
.float-right.other-page{

}
.img-user img{
    margin-top: -10px;
}
.img-user-logger button img{
    margin-top: -20px;
}
.img-user-logger button{
    background: transparent;
}
.observation-block .col-xs-6 {
    max-width: 100%;
    margin: 0 10px;
    position: relative;
    left: -16px;
}
.observation-block .col-xs-6.col-right{
    margin-left: 25px;
    width: 50%;
}
.container.observation-block{
    background: #fff;
    width: 89.8%;
    position: relative;
    left: -3px;
    padding: 30px;
    margin: 0 auto;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(15,3,15,1);
    -moz-box-shadow: 0px 1px 2px 0px rgba(15,3,15,1);
    box-shadow: 0px 1px 2px 0px rgba(15,3,15,1);
}
.sect-observation{
    background: #f0f0f0;
    margin: 0 0 -40px;
    padding-top: 50px;
    padding-bottom: 40px;
}
.search-observ {
    margin-bottom: 14px;
}
.observation-block .row{
    margin: 0 7%;
}
.btn-ajouter-photo-obs {
    background: transparent;
    border: 0;
}
.btn-submit-obs {
    background: #98C575;
    border: 0;
    width: 30%;
    padding: 10px;
    font-family: arial;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(15,3,15,1);
    -moz-box-shadow: 0px 1px 3px 0px rgba(15,3,15,1);
    box-shadow: 0px 1px 3px 0px rgba(15,3,15,1);
    cursor: pointer;
}
.btn-submit-obs:hover {
    background: #B8735C;
}
.nb_especes {
    width: 16%;
    border:2px solid #B8735C;
    border-radius: 0;
}
.observation-block .form-group {
    margin: 20px 0;
}
.add-img-obs {
    width: 106%;
    margin-left: -10px;
}
.navbar-other-page .navbar-nav a, .dropdown-menu a {
    color: inherit;
}
.dropdown-menu.show li:first-child{
    color: green !important;
}
.dropdown-menu.show {
    padding: 8px;
}
#ui-id-1 {
    background: #fff;
    width: 394px;
    padding: 10px 20px;
}
#ui-id-1 li{
    list-style: none;
    color: #B8735C;
}
#ui-id-1 li:hover{
    cursor: pointer;
    color: #98C575;
}
.container.search-espace-page{
    background: #fff;
    width: 90%;
    padding: 30px;
    margin: 0 auto;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(15,3,15,1);
    -moz-box-shadow: 0px 1px 2px 0px rgba(15,3,15,1);
    box-shadow: 0px 1px 2px 0px rgba(15,3,15,1);
}
.sect-card{
    background: #f0f0f0;
    margin-top: 0;
    padding-top: 30px;
    margin-bottom: -40px;
    padding-bottom: 30px;
}
.search-espace-title {
    text-align: center;
}
.search-espace-title h3{
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 30px;
}
.search-espace-box h4 {
    font-size: 20px;
    font-weight: 700;
}
.search-espace-box .input-search{
    margin-bottom: 20px;
}
.search-espece-left img{
    width: 100%;
    border-radius: 5px;
    margin: 7px;
}
.card-title.details-search-card {
    margin-bottom: 0;
}
.card.search-espece-left {
    -webkit-box-shadow: 0px 0px 2px 1px rgba(197,147,87,1);
    -moz-box-shadow: 0px 0px 2px 1px rgba(197,147,87,1);
    box-shadow: 0px 0px 2px 1px rgba(197,147,87,1);
    border-radius: 0;
    border: 0;
    margin-bottom: 20px;
}
.search-espece-left .row{
    width: 80%;
}
.card-img-bottom.left {
    max-width: 200px;
    width: 200px;
}
.card-img-bottom.left p {
    margin-bottom: 0;
}
.btn-voir-card {
    color: #fff;
    text-transform: uppercase;
    background-color: #98C575;
    border-color: #fff;
    margin: 7px;
    width: 100%;
    padding: 11px;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
}
.btn-voir-card:hover {
    background-color: #CF8A5D;
    border-color: #fff;
}
.search-observ form, .search-espece-input {
    width: 100% !important;
}
.search-espece-input {
    padding-left: 20px;
}
.search-observ form button.search-submit{
    color: #CF8A5D;
    background: transparent;
    border: 0;
    position: absolute;
    right: 0;
    top: -2px;
}
.btn-prendre-photo-obs {
    width: 100%;
    color: #333;
    border: 1px solid #333;
    margin-top: 10px;
    display: none;
    background: #fff;
}

#recherche-espece-submit .recherche-espece {
    float: left;
    width: auto;
    margin-left: 1em;
}
#recherche-espece-submit .recherche-espece-btn {
    margin-top: 2em;
    margin-left: 1em;
    /*position: absolute;
    right: 15px;*/
    background: #98C575;
    border: 0;

}
#recherche-espece-submit .recherche-espece-btn:hover {
    cursor:pointer;
    background: #B8735C;

}
.box-result-search {
    overflow-y: auto;
    height: 309px !important;
}
.card-img-left {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    margin: 0 10px;
}
#recherche-espece-submit {
    width: 92.33%;
    margin: 0 auto;
    padding-top: 33px;
}
#recherche-espece-submit .result-search{
    -webkit-box-shadow: 0px 2px 6px -1px rgba(197,89,106,1);
    -moz-box-shadow: 0px 2px 6px -1px rgba(197,89,106,1);
    box-shadow: 0px 2px 6px -1px rgba(197,89,106,1);
    margin: 8px 0 -20px 20px;
    padding: 20px 0;
    border-radius: 2px;
    width: 90%;
}
#recherche-espece-submit .btn-bottom-view {
    margin: 9px;
    background: #98C575;
    text-transform: uppercase;
    color: #fff;
    border: 0;
    padding: 5px 30px;
    border-radius: 2px;
    -webkit-box-shadow: 0px 1px 7px -2px rgba(0,0,0,1);
    -moz-box-shadow: 0px 1px 7px -2px rgba(0,0,0,1);
    box-shadow: 0px 1px 7px -2px rgba(0,0,0,1);
}