/*****************************************************
## RESPONSIVE MEDIA QUERY
******************************************************/
/*-------------------[1440px]------------------*/
@media only screen and ( max-width: 1440px ) {

}

/*-------------------[1280px]------------------*/
@media only screen and ( max-width: 1280px ) {

}

/*-------------------[1260px]------------------*/
@media only screen and ( max-width: 1260px ) {

}

/*-------------------[1200px]------------------*/
@media only screen and ( max-width: 1200px ) {

}

/*-------------------[1240px]------------------*/
@media only screen and ( max-width: 1240px ) {

}

/*-------------------[1080px]------------------*/
@media only screen and ( max-width: 1080px ) {

}

/*-------------------[1024px]------------------*/
@media only screen and ( max-width: 1024px ) {

}

/*-------------------[990px]------------------*/
@media only screen and (max-width: 990px) {

}

/*-------------------[890px]------------------*/
@media only screen and (max-width: 890px) {

}

/*-------------------[768px]------------------*/
@media only screen and ( max-width: 768px ) {
    .logo-box {
        text-align: left !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar.navbar-expand-lg{
        margin: 0 !important;
        top: 30px;
        z-index: 9;
        right: 45px;
    }
    .navbar-other-page ul.navbar-nav{
        display: block;
        margin-top: 13px;
        margin-right: 10px;
        padding: 8px 15px;
        border: 1px solid #ccc;
        background: #fff;
    }
    ul.navbar-nav{
        display: block;
        margin-top: 27px;
        margin-right: -5px;
        padding: 8px 15px;
        border: 1px solid #ccc;
    }
    .navbar-default .navbar-toggle {
        border-color: #ddd;
    }
    .navbar-toggle {
        position: absolute;
        top: 0;
        right: 0;
        float: right;
        border: 0;
        background: transparent;
        margin-top: 14px;
    }
    .navbar-other-page .navbar-toggle {
        margin-top: 14px;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #888 !important;
    }
    .navbar-toggle .icon-bar {
        display: block;
        width: 22px;
        height: 1px;
        border-radius: 1px;
        background-color: #888;
        margin: 5px;
    }
    .collapse.show {

    }
    #take-photo {
        display:block;
    }
    .btn-ajouter-photo-obs {
        display:block !important;
    }
    #btnAddPhoto, .btn-prendre-photo-obs {
        display:block !important;
    }
    .header-left {
        background-image: none !important;
    }
    .bg-oiseau {
        max-width: 100% !important;
    }
    .partenaires .slick-slide img {
        width: 100px !important;
        height: 100px !important;
    }
    .header-left {
        min-width: auto !important;
    }
    .img-thumbnail.logo {
        width: 30% !important;
        margin-left: 0 !important;
    }
    .loupe img {
        width: 15% !important;
    }
    .loupe p {
        margin-left: 114px;
        margin-top: 0 !important;
    }
    .btn-submit-obs {
        width: 100% !important;
    }
    .other-page .navbar{
        float: right;
        position: absolute;
        top: -70px;
    }
    .txt-ns-suivre {
        max-width: 47% !important;
    }
    #footerbloc .social-feed img {
        max-width: 13% !important;
    }
    .search-espece-left .col-md-6 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .col-sm-4.responsive-flex {
        flex: 0 0 100% !important;
        max-width: 100% !important;
        padding: 7px;
    }
    /*.display-none-mobile {
        display: none !important;
    }*/
    .box-card {
        width: 45%;
    }
    .ccm-first-bloc, .ccm-last-bloc {
        left: 0 !important;
    }
    .commentcamarche .col-sm-4 {
        max-width: 100% !important;
    }
    .container.observations {
        max-width: 100% !important;
        margin: 0 15px;
    }
    #footerbloc .informations {
        margin-left: 0.9em !important;
    }

}

/*-------------------[757px]------------------*/
@media only screen and (max-width: 757px) {

}

/*-------------------[555px]------------------*/
@media only screen and ( max-width: 555px ) {

}

/*-------------------[479px]------------------*/
@media only screen and ( max-width: 479px ) {

}

/*-------------------[425px]------------------*/
@media only screen and ( max-width: 425px ) {
    .navbar.navbar-expand-lg {
        top: 14px;
        z-index: 9;
    }
    .other-page .navbar {
        top: -49px;
    }
    .partenaires .slick-slide img {
        width: 50px !important;
        height: 50px !important;
    }
    .observations .card {
        margin-bottom: 22px;
    }
    .img-thumbnail.logo {
        width: 55% !important;
        margin-left: 0 !important;
    }
    .loupe img {
        width: 25% !important
        margin: 0 10%;
    }
    .loupe p {
        margin-left: 33px;
        margin-top: -14px !important;
    }
    .btn-submit-obs {
        margin-bottom: 50px;
    }
    .txt-ns-suivre {
        max-width: 100% !important;
    }
    .box-card {
        width: 100%;
    }
    .acc-profil {
        width: 100%;
        padding: 0;
    }
    #id-check-naturalist {
        position: absolute;
        bottom: -28em;
    }
    #id-check-cgu {
        position: absolute;
        bottom: -31em;
    }
    #id-btn-inscription {
        position: absolute;
        bottom: -34em;
    }
    #id-input-box {
        margin-bottom: 150px;
    }
    #appbundle_user_birthdate select {
        margin-bottom: 20px;
    }
    .commentcamarche .col-sm-4 {
        max-width: 100% !important;
    }
    #gallerieobservation .col-sm-4 {
        max-width: 100% !important;
    }
    ul.navbar-nav {
        display: block;
        margin-top: 58px;
        margin-right: -61px;
        padding: 0;
        border: 1px solid #ccc;
        width: 425px;
    }
    ul.navbar-nav li:last-child {
        border:0;
    }
    ul.navbar-nav li{
        background: #98C575;
        margin: 0;
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid #fff;
    }
    ul.navbar-nav li a{
        text-transform: uppercase;
    }
    .navbar-other-page ul.navbar-nav {
        margin-top: 40px;
        margin-right: -72px;
        padding: 0;
        border:0;
        background: transparent;
    }
    .navbar-other-page ul.navbar-nav li a {
        color: #fff !important
    }
    .collapsing {
        width: 425px !important;
    }
    #navbarResponsive .btn-group {
        display: block !important;
    }
    #navbarResponsive .navbar-nav .dropdown-menu {
        position: static;
        float: none;
        display: block;
        background: transparent;
        border: 0;
        width: 425px;
        margin-left: -10px;
    }
    #navbarResponsive .img-user-logger button,
    #navbarResponsive .navbar-nav .dropdown-menu li:first-child,
    #navbarResponsive .navbar-nav .dropdown-menu li.divider {
        display: none;
    }
    #navbarResponsive .navbar-nav .dropdown-menu li:nth-child(3){
        padding: 0 0 15px;
    }
    #navbarResponsive .navbar-nav .dropdown-menu li:nth-child(3) a{
        position: relative;
        top: -3px;
        color: #fff !important;
    }
    #navbarResponsive .navbar-nav .dropdown-menu li:last-child a{
        position: relative;
        top: 8px;
        color: #fff !important;
    }
    .navbar-other-page #navbarResponsive .navbar-nav .dropdown-menu li:nth-child(3) {
        position: relative;
        top: 0;
    }
    #navbarResponsive .navbar-nav .dropdown-menu li:nth-child(3) {
        position: relative;
        top: -21px;
    }
    #navbarResponsive .navbar-nav .dropdown-menu li:last-child {
        margin-top: -20px;
    }
    .navbar-other-page #navbarResponsive .navbar-nav .dropdown-menu li:last-child {
        margin-top: 0px;
    }
    .container.observation-block {
        width: 90%;
    }
    #navbar-other-page {
        width: 100% !important;
    }
}

/*-------------------[375px]------------------*/
@media only screen and ( max-width: 375px ) {
    ul.navbar-nav li a {
        margin-left: 40px;
    }
}

/*-------------------[360px]------------------*/
@media only screen and ( max-width: 360px ) {
    .navbar.navbar-expand-lg {

    }
}

/*-------------------[320px]------------------*/
@media only screen and ( max-width: 320px ) {
    ul.navbar-nav li a {
        margin-left: 60px;
    }
}
