/*****************************************************
## RESPONSIVE MEDIA QUERY
******************************************************/
/*-------------------[1440px]------------------*/
@media only screen and ( max-width: 1440px ) {

}

/*-------------------[1280px]------------------*/
@media only screen and ( max-width: 1280px ) {

}

/*-------------------[1260px]------------------*/
@media only screen and ( max-width: 1260px ) {

}

/*-------------------[1200px]------------------*/
@media only screen and ( max-width: 1200px ) {

}

/*-------------------[1240px]------------------*/
@media only screen and ( max-width: 1240px ) {

}

/*-------------------[1080px]------------------*/
@media only screen and ( max-width: 1080px ) {

}

/*-------------------[1024px]------------------*/
@media only screen and ( max-width: 1024px ) {

}

/*-------------------[990px]------------------*/
@media only screen and (max-width: 990px) {

}

/*-------------------[890px]------------------*/
@media only screen and (max-width: 890px) {

}

/*-------------------[768px]------------------*/
@media only screen and ( max-width: 768px ) {
    .navbar-toggle {
        display: block;
    }
    .navbar.navbar-expand-lg{
        margin: 0 !important;
        top: 14px;
        z-index: 9;
        right: 20px;
        /*background: green;*/
    }
    ul.navbar-nav{
        display: block;
    }
    .navbar-default .navbar-toggle {
        border-color: #ddd;
    }
    .navbar-toggle {
        position: relative;
        float: right;
        padding: 9px 10px;
        background-image: none;
        border: 1px solid #BDBDAE;
        border-radius: 4px;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #888 !important;
    }
    .navbar-toggle .icon-bar {
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
        background-color: #888;
        margin: 3px;
    }
    #take-photo {
        display:block;
    }
    .btn-ajouter-photo-obs {
        display:block !important;
    }
    #btnAddPhoto, .btn-prendre-photo-obs {
        display:block !important;
    }
    .header-left {
        background-image: none !important;
    }
    .bg-oiseau {
        max-width: 100% !important;
    }
    .partenaires .slick-slide img {
        width: 100px !important;
        height: 100px !important;
    }
    .header-left {
        min-width: auto !important;
    }
    .img-thumbnail.logo {
        width: 30% !important;
        margin-left: 0 !important;
    }
    .loupe img {
        width: 45% !important;
        margin: -67px 30%;
    }
    .loupe p {
        margin-left: 114px;
        margin-top: 23px !important;
    }
    .btn-submit-obs {
        width: 100% !important;
    }
    .other-page .navbar{
        float: right;
        position: absolute;
        top: -70px;
    }
    .txt-ns-suivre {
        max-width: 47% !important;
    }
    #footerbloc .social-feed img {
        max-width: 13% !important;
    }
    .search-espece-left .col-md-6 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .col-sm-4.responsive-flex {
        flex: 0 0 100% !important;
        max-width: 100% !important;
        padding: 7px;
    }
    /*.display-none-mobile {
        display: none !important;
    }*/
    .box-card {
        width: 45%;
    }

}

/*-------------------[757px]------------------*/
@media only screen and (max-width: 757px) {

}

/*-------------------[555px]------------------*/
@media only screen and ( max-width: 555px ) {

}

/*-------------------[479px]------------------*/
@media only screen and ( max-width: 479px ) {

}

/*-------------------[425px]------------------*/
@media only screen and ( max-width: 425px ) {
    .navbar.navbar-expand-lg {
        top: 14px;
        z-index: 9;
    }
    .other-page .navbar {
        top: -49px;
    }
    .partenaires .slick-slide img {
        width: 50px !important;
        height: 50px !important;
    }
    .observations .card {
        margin-bottom: 22px;
    }
    .img-thumbnail.logo {
        width: 55% !important;
        margin-left: 0 !important;
    }
    .loupe img {
        width: 75% !important;
        margin: 0 10%;
    }
    .loupe p {
        margin-left: 33px;
        margin-top: -14px !important;
    }
    .btn-submit-obs {
        margin-bottom: 50px;
    }
    .txt-ns-suivre {
        max-width: 100% !important;
    }
    .box-card {
        width: 100%;
    }
    .acc-profil {
        width: 100%;
        padding: 0;
    }
}

/*-------------------[375px]------------------*/
@media only screen and ( max-width: 375px ) {
    .navbar.navbar-expand-lg {

    }
}

/*-------------------[360px]------------------*/
@media only screen and ( max-width: 360px ) {
    .navbar.navbar-expand-lg {

    }
}

/*-------------------[320px]------------------*/
@media only screen and ( max-width: 320px ) {
    .navbar.navbar-expand-lg {

    }
}
