{% block title %} Confirmation {% endblock %}
{% extends 'base.html.twig' %}

{% block body %}


    <div class="well">
        <p>Votre message a bien été envoyé!</p>
        <p>Une réponse vous sera adressée sous les meillleurs délais</p>

    </div>

{% endblock %}