{% block title %} Confirmation {% endblock %}
{% extends 'base.html.twig' %}

{% block body %}



        <div style="padding-top: 60px;padding-bottom :170px; width:80%; margin:0 auto">

        <p>Votre message a bien été envoyé!</p>
        <p>Une réponse vous sera adressée sous les meillleurs délais</p>
        </div>


{% endblock %}