{% extends 'base.html.twig' %}
{% block title %} Password {% endblock %}

{%  block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block body %}
    <div class =container>
        <div class="alert alert-info">
            {% for message in app.session.flashbag.get('info') %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
        <h2>Veuillez saisir votre nouveau mot de passe</h2>

        {{ form(form) }}
    </div>
{% endblock %}