{% extends 'base.html.twig' %}
{% block title %} Confirmation {% endblock %}

{%  block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block body %}
    <div class =container style="margin-bottom :200px; width:80%;">
        <h1 style="text-align:center; font-size:1.25em; font-weight:bold; margin-bottom :50px; margin-top:40px;">Votre mot de passe a été changé!</h1>

        <p>
        <a href="{{ path('homepage') }}">Retour à l'accueil</a>
        </p>
    </div>
{% endblock %}