{% extends 'base.html.twig' %}
{% block title %} Password {% endblock %}

{%  block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block body %}
    <div class =container>

            {% for message in app.session.flashbag.get('info') %}
                <p class="alert alert-info">{{ message }}</p>
            {% endfor %}

        <h2>Veuillez saisir votre nouveau mot de passe</h2>

        {{ form(form) }}
    </div>
{% endblock %}